body {
    background: url(https://images.alphacoders.com/546/546898.jpg);
    opacity: 0.8;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron h1{
    font-family: 'Barriecito', cursive;
    font-size: 60px;
}

.jumbotron p {
    font-size: 35px;
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 20px;
}

.card-header {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.table,
.form-group {
    font-family: 'Raleway', sans-serif; 
}

.btn {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    background-color: rgb(90, 89, 89);
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
}

#trainNameInput,
#destinationInput,
#firstTrainInput,
#frequencyInput {
    margin-top: 10px;
}